@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,300;1,800&family=Poppins:wght@100&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color:chartreuse;
}